*.jar
*.zip
*.dat

/.mixin.out
/crash-reports
/journeymap
/logs
/mods
/resourcepacks
/saves
/schematics
/screenshots

minecraftinstance.json
options.txt
patchouli_data.json
realms_persistence.json
usercache.json
usernamecache.json
.curseclient